@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
.resultFooter_body{
    display: grid;
    grid-template-columns: 2.8fr 2fr 1fr;
    margin: auto;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    max-width: 1416px;
}
.Result_siteFooter{
    background: #242424;
    padding: 49px;
    /* border-width: 2px, 0px, 2px, 0px;
    border-style: solid;
    border-color:; */
    color: white;
    border-bottom: 2px solid  #FFFFFF66 ;
    border-top: 2px solid  #FFFFFF66 ;
}
.worldSquard{
    width: 70px;
    height: 70px;
    background: #333335;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.worldSquard img{
    width: 42px !important;
}
.resultFooter_body ul li{
   list-style: none;
    font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 24.6px;
text-align: left;
margin-left: 4px;
margin-bottom: 25px;
transition: 1s;
position: relative;
top: 16px;
margin-top: 14px;
}
.resultFooter_body ul li:hover{
    cursor: pointer;
    font-weight: 700;
    color: #F8B806;
}
.resultFooter_body ul h3{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.68px;
text-align: left;

}
.resultFooter_body ul span{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.68px;
text-align: left;
color: #F8B806;
}
.resultFooter_body ul p{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.68px;
text-align: left;
margin-top: 15px;
margin-bottom: 10px;
}
.compromiseBtn{
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
    max-width: 194px;
    background: #F8B806;
    height: 50px;
    border-radius: 7px;
    padding-left: 10px;
}
.compromiseBtn h4{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.68px;
text-align: left;

}
.LayerLogoRes{
    width: 208px;
    margin-bottom: 10px;
}
.IconsImg{
    display: flex;
    align-items: center;
    gap: 17px;
    position: relative;
    top: 60px;
    left: 10px;
}
.IconsImg img{
    width: 70px;
}
.IconsImg img:hover{
    opacity: 0.7;
}
.Footer_center_p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    color: white;
    padding-top: 24px;
    padding-bottom: 10px;
}
.Footer_center_p p{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: center;

}
.Footer_center_p h3{
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: center;
display: none;
}
.UlFor_mobile{
    display: none;
}
@media (max-width:1000px) {
    .resultFooter_body{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .resultFooter_body ul{
        margin-bottom: 30px;
    }
}
@media (max-width:876px) {
    .resultFooter_body{
        display: grid;
        grid-template-columns:  1fr;
    }
    .resultFooter_body ul{
        margin-bottom: 30px;
    }
    .Result_siteFooter{
        padding: 20px;
    }
    .Footer_center_p h3{
        display: flex;
        font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
width: 85%;
margin: auto;
    }
    .Footer_center_p p{
        display: none;
    }
    .UlFor_pk{
        display: none;
    }
    .UlFor_mobile{
        display: block;
    }
}

.first_guest span{
    font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 30px;
text-align: left;
text-decoration: underline;
}
.first_guest p{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
.Come_AndVisitUs_body {
    background-color: #242424;
    color: white;
    padding-top: 74px;
}
.Come_AndVisitUs_body h1{
    font-family: Montserrat;
font-size: 49px;
font-weight: 700;
line-height: 73.5px;
text-align: left;
width: 95%;
max-width: 1440px;
margin: auto;
text-transform: uppercase;
}
.Come_AndVisitUs_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    max-width: 1440px;
    margin: auto;
    margin-top: 47px;
    align-items: center;
    padding-bottom: 56px;
}
.first_guest img{
    width: 82%;
    /* width: 589px; */
    margin-top: 17px;
    margin-bottom: 16px;
}
.second_guest_location iframe{
    height: 449px;
    width: 100%;
    border-radius: 8px;
}
@media (max-width:965px) {
    .Come_AndVisitUs_grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .first_guest img{
        width: 100%;
    }

    .second_guest_location iframe{
        height: 449px;
        width: 100%;
        border-radius: 8px;
        margin-top: 15px;
    }
}
@media (max-width:714px) {
    .Come_AndVisitUs_body h1{
        font-family: Montserrat;
/* font-size: 28px; */
font-weight: 700;
font-size: 39px;
line-height: 42px;
text-align: left;

    }
}

@media (max-width:440px) {
    .Come_AndVisitUs_body h1{
        font-family: Montserrat;
font-size: 28px;
font-weight: 700;
/* font-size: 39px; */
line-height: 42px;
text-align: left;

    }
    .first_guest p{
        font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

    }
    .first_guest span{
        font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: left;

    }
    /* .Come_AndVisitUs_grid{
        width: 100%;
        max-width: 100%;
    } */
    .second_guest_location iframe{
        border-radius: 1px;
    }
    /* .first_guest{
        width: 95%;
        max-width: 1440px;
        margin: auto;
    } */
}



.Main_for_Question{
    width: 100%;
    background-color: #3F3D42;
    padding-bottom: 156px;
    padding-top: 50px;
}
.Main_for_QuestionBody h1{
    text-transform: uppercase;
    color: white;
    font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 75px;
text-align: left;
margin-bottom: 36px;
}
.Main_for_QuestionBody h1 span{
    font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 75px;
text-align: left;
color: #F8B806;
}
.Main_for_QuestionBody{
    width: 95%;
    max-width: 1440px;
    margin: auto;
}
.accorQuestion_body{
    width: 97%;
    height: 96px;
    background: #2A2A2A;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 12px;
    margin-bottom: 16px;
}
.accorQuestion_body span{
    font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 36px;
text-align: left;
color: white;
}
.accorAnswer_body {
    width: 97%;
    padding-left: 26px;
    min-height: 74px;
    background-color: #2A2A2A;
    margin-top: -12px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding-right: 12px;
    display: none;
    margin-bottom: 18px;
    transition: 1s;
}

.plusOpen_answer{
    width: 100%;
    max-width: 52px;
    height: 52px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8B806;
    color: white;
    margin-right: 19px;
}
 
.accorAnswer_body span{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: white;
}
.close_answer{
    width: 100%;
    max-width: 52px;
    height: 52px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8B806;
    color: white;
    margin-right: 19px;
    display: none;
}
.extraNone{
    display: none;
}
@media (max-width:800px) {
    .accorQuestion_body{
        width: 90%;
    }
    .accorAnswer_body{
        width: 90%;
        padding-right: 12px;
    }
    .Main_for_QuestionBody h1 {
        font-size: 37px;
        }
        .Main_for_QuestionBody h1 span {
        font-size: 37px;
        }
        .Main_for_QuestionBody h1 br{
            display: none;
        }
    
}
@media (max-width:600px) {
    .accorQuestion_body span{
        font-size: 20px;
    }
    .plusOpen_answer {
        width: 100%;
        max-width: 45px;
        height: 45px;
    }
    .close_answer {
        width: 100%;
        max-width: 45px;
        height: 45px;
    }
    .accorAnswer_body span {
    font-size: 17px;
    }

}
@media (max-width:500px) {
    .Main_for_QuestionBody h1 {
        font-size: 30px;
        }
        .Main_for_QuestionBody h1 span {
        font-size: 30px;
        }
}
@media (max-width:420px){
    .Main_for_QuestionBody h1 {
        font-family: Montserrat;
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        text-align: left;
        margin-left: 14px;
        position: relative;
        top: 3px;
        }
        .Main_for_QuestionBody h1 span {
            font-family: Montserrat;
            font-size: 28px;
            font-weight: 700;
            line-height: 42px;
            text-align: left;
            
        }
.accorQuestion_body span{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}
.plusOpen_answer {
    width: 100%;
    max-width: 52px;
    height: 52px;
}
.close_answer {
    width: 100%;
    max-width: 52px;
    height: 52px;
}
.accorAnswer_body span{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}
.accorAnswer_body{
    min-height: 84px;
}
.accorQuestion_body{
    width: 81%;
}
.accorAnswer_body{
    width: 81%;
}
/* .Main_for_QuestionBody h1{
    margin-bottom: 32px;
} */
.accorQuestion_body {
    height: 82px;}
    .accorQuestion_body{
        padding-left:8px;
    }
    .accorAnswerQuestion{
        width: 90%;
        margin: auto;
    }
    .accorQuestion_body {
        width: 95%;
        margin-bottom: 10px;
    }
    .accorAnswer_body {
        width: 89%;
        margin: auto;

    }
    .plusOpen_answer{
        margin-right: 0;
    }
    .close_answer{
        margin-right: 0;
    }
    .accorAnswer_body{
        padding-left: 5px;
        width: 96%;
    margin-top: -9px;
    margin-bottom: 11px;
    }
    .extraBlock{
        display: none;
    }
    .extraNone{
        display: flex;
    }
    .extra_for_Media{
        height: 103px;
    }
}





.app_BgMain{
    background-color: #2A2A2A;
    padding-bottom: 76px;position: relative;
}
.MainGet_money{
    width: 95%;
    max-width: 1440px;
    margin: auto;
}
.AbstractDesign{
position: absolute;
bottom: 0;
right: 0;
opacity: 0.37;
}
.AbstractDesign_Second{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.37;
    }
.swiperYandex{
    width: 100%;
    height: auto;
    background-color: #3F3D42;
    /* max-width: 310px; */
    color: white;
    border-radius: 6px;
}
.swiperHeader{
    display: flex;
    gap: 10px;
    position: relative;
    top: 11px;
    left: 16px;
}
.StarAnd_name span{
    font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 24px;
position: relative;
left: -6px;
}
.YandexImg{
    width: 70px;
}
.FiveStars img{
    width: 24px;
}
.BelowHeader p{
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 22.14px;
text-align: left;
}
.BelowHeader span{
    display: none;
}
.BelowHeader{
    padding: 16px;
}
.ApplicationSwiper{
    width: 95%;
    max-width: 1440px;
    margin: auto;
 
    max-width: 1327px;
}
.endOpen_other span{
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 22.14px;
text-align: left;
cursor: pointer;
text-decoration: underline;
}
.endOpen_other{
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 15px;
    padding-bottom: 17px;
}



.swiper-button-prev{
    left: -69px !important;
}
.swiper-button-next, .swiper-button-prev{
    width: 52px !important;
    height: 52px !important;    
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 16px !important;
    color: white !important;
    width: 52px !important;
    height: 52px !important;  
    border-radius: 8px;
    background-color: #F8B806;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-next{
    position: absolute !important;
    right: -67px !important;
}
.MainGet_money h1{
    font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 75px;
text-align: left;
color: white;
text-transform: uppercase;
}
.MainGet_money h1 span{
    font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 75px;
text-align: left;
color: #F8B806;

}
.MainGet_money h1 span br{
    display: none;
}
.MainGet_money{
    width: 95%;
    max-width: 1440px;
    margin: auto;
}
.bigGrid_templateDiv_body{
    display: grid;
    grid-template-columns: 2.8fr 2fr;
    margin-top: 51px;
    position: relative;
    gap: 20px;
    z-index: 121;
}
.firstVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/img/Rectangle\ 1893.png') no-repeat;
    width: 100%;
    height:728px;
    background-position: center;
    border-radius: 7px;
    z-index: 1;
    background-size: cover;
}
.secondDescribe h2{
    font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 36px;
text-align: left;
color: white;
margin-bottom: 26px;

}
.dataDisplayFlex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    width: 99%;
}
.dataDisplayFlex span{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: white;
}
.dataDisplayFlex p{
    font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 24.6px;
text-align: center;
color: white;
}
.secondDescribe h4{
    font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 36px;
text-align: left;
color: white;
margin-top: 32px;
margin-bottom: 20px;
}
.secondDescribe h4 span{
    font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 36px;
text-align: left;
color: #F8B806;
}
.circleQuestion .bxs-help-circle{
    color: #FFD86C;
    font-size: 30px;
}
.circleQuestion{
    margin-left: -4px;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 11px;
}
.circleQuestion span{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 24.6px;
text-align: left;
color: white;
}


 .Country_input{
    background: #333335;
    width: 77%;
    padding-left: 10px;
    height: 56px;
    border-radius: 10px;
    margin-top: 8px;
    outline: none;
 }
 .Evaluate_btn{
    width: 79%;
    height: 72px;
    background: #F8B806;
    border-radius: 10px;
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 22.14px;
margin-top: 15px;
border: none;
 }
 .Object_arrow{
    position: absolute;
    bottom: 0;
    transform: rotate(99deg);
    width: 16%;
    right: 50px;
 }
 .inputArrowAbsolute{
    position: relative;
 }
 .PersonalData{
    display: flex;
    gap: 14px;
    margin-top: 41px;

 }
 .PersonalData h3{
    font-family: Montserrat;
font-size: 22px;
font-weight: 400;
line-height: 27.06px;
text-align: left;
color: white;
 }
 .PersonalData h3 span{
    color: #F8B806;
    font-family: Montserrat;
font-size: 22px;
font-weight: 400;
line-height: 27.06px;
text-align: left;
position: relative;
top: 9px;
 }
 .PersonalData input{
    width: 30px;
    height: 30px;
 }
 .CircularImg{
    position: absolute;
    position: absolute;
    top: 309px;
    left: -121px;
    z-index: -1;
    width: 100%;
 }
 .firstVideo{
    position: relative;
    z-index: revert-layer;
 }
 
 .otziv h1{
    font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 75px;
text-align: left;
color: white;
text-transform: uppercase;
margin: auto;

margin-bottom: 50px;
margin-top: 101px;
width: 95%;
max-width: 1440px;
}

@media (max-width:991px) {
    .bigGrid_templateDiv_body{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (max-width:745px) {
    .CircularImg{
        top: 412px;
    }
}
@media (max-width:600px) {
    .firstVideo{
        height: 536px;
    }
    .CircularImg{
        top: 290px;
    }
    .MainGet_money h1{
        font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 42px;
text-align: left;

    } 
    .MainGet_money h1 span{
        font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 42px;
text-align: left;
 
    }
    .secondDescribe h2{
        font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;

    }
}
/* .firstVideo{
    background: none;
}
.firstVideo img{
    display: none;
} */
 .firstVideo video{
    width: 100%;
    display: none;
 }
 @media (max-width:400px) {
    .firstVideo{
        height: 273px;
    }
    .MainGet_money h1 span br{
        display: block;
    }
    .firstVideo{
        width: 90%;
        margin: auto;
    }
    .secondDescribe{
        width: 88%;
        margin: auto;
    }
    .bigGrid_templateDiv_body{
        margin-top: 30px;
    }
    .MainGet_money h1{
        margin-left: 16px;
    }
    .dataDisplayFlex span{
        font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

    }
    .dataDisplayFlex p{
        font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 19.68px;
text-align: center;

    }
    .secondDescribe h2{
        margin-bottom: 22px;
    }
    .Extra_pFor_media{
        text-wrap: nowrap;
        position: relative;
        top: 15px;
        left: 13px;
    }
    .secondDescribe h4{
        font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 30px;
text-align: left;
margin-top: 27px;
    }
    .secondDescribe h4 span{
        font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 30px;
text-align: left;

    }
    .circleQuestion span{
        font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.68px;
text-align: left;

    }
    .circleQuestion{
        margin-bottom: 16px;
    }
    .Country_input{
        width: 100%;
        height: 51px;
        margin-top: 0;
    }
    .Evaluate_btn {
        font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19.68px;
width: 100%;
    }
    .Object_arrow{
        display: none;
    }
    .PersonalData h3{
        font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.22px;
text-align: left;

    }
    .PersonalData h3 span{
        font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17.22px;
text-align: left;
top: 8px;
    }
    .PersonalData input{
        width: 41px;
    }
    .PersonalData {
        display: flex;
        gap: 5px;
        margin-top: 11px;
        margin-left: -4px;
    }
    .otziv h1{
        font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 42px;
text-align: left;
margin-top: 108px;
margin-left: 27px;
    }
    .Main_for_Question{
        padding-top: 23px;
        padding-bottom: 9px;
    }
    .Come_AndVisitUs_body h1{
        max-width: 312px;
    }
    .first_guest{
        max-width: 312px;
        width: 100%;
        margin: auto;
        margin-top: 27px;
    }
    .first_guest img{
        margin-bottom: 8px;
    }
    .Come_AndVisitUs_grid{
        margin-top: 1px;
    }
    .Come_AndVisitUs_grid{
        padding-bottom: 4px;
    }
    .LayerLogoRes{
        width: 147px;
    }
    .resultFooter_body ul span{
        display: none;
    }
    .resultFooter_body ul h3{
        font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.22px;
text-align: left;

    }
    .resultFooter_body ul p{
        font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 14.76px;
text-align: left;

    }
    .compromiseBtn{
        max-width: 165px;
    }
    .compromiseBtn h4{
        font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.22px;
text-align: left;

    }
    .resultFooter_body ul{
        margin-bottom: 0;
    }
    .resultFooter_body ul li{
        margin-top: 4px;
        margin-bottom: 20px;
        margin-left: 0;
        font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 17.22px;
text-align: left;

    }
    .IconsImg{
        display: none;
    }
    .Footer_center_p{
        padding-top: 7px;
    }
 }





 .stepByStep h1{
    font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 75px;
text-align: left;
text-transform: uppercase;
color: white;
 }
 
 .stepByStep h1 span{
    font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 75px;
text-align: left;
color: #F8B806;

 }
 .stepByStep{
    width: 95%;
    max-width: 1440px;
    margin: auto;  
 }
 .firstStep_textTop{
    display: flex;
    margin-top: 53px;
    justify-content: space-between;
    width: 86%;
 }
 .firstStep_textTop p{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: white;
 }
 .numberStep_one{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 9.4px 0px #00000040;
    width: 38px;
    height: 38px;
    background-color: #F8B806;
    border-radius: 50%;
    border: 5px solid white; 
 }
 .seconStep_numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-top: 32px;
    gap: 14px;
 }
 .numberStep_one{
    position: relative;

 }
 .numberStep_one span{
    font-size: 22px;
    font-weight: 900;
    font-family: Montserrat;

 }
 .thirdStep_textBottom{
    display: flex;
 }
 .thirdStep_textBottom p{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: white;
 }
.LeftSome{
    margin-left: 86px;
}
 .thirdStep_textBottom{
    display: flex;
    justify-content: space-around;
    width:97%;
    margin: auto;
    margin-top: 28px;
    margin-left: 10%;
 }
 .oneArrow{
    position: absolute;
    left: 47px;
    top: -38px;
    width: 185px;
 }
 .twoArrow{
    position: absolute;
    left: 42px;
    bottom: -27px;
    width: 185px;
 }
 .threeArrow{
    position: absolute;
    top: -33px;
    left: 43px;
    width: 185px;
 }
 .fourArrow{
    position: absolute;
    left: 45px;
    bottom: -38px;
    width: 185px;
 }
 .fiveArrow{
    position: absolute;
    top: -30px;
    left: 52px;
    width: 185px;
 }
 .newOffersMarket h1{
    font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 75px;
text-align: left;
color: white;
text-transform: uppercase;
 }
 .newOffersMarket h1 span{
    font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 75px;
text-align: left;
color: #F8B806;
 }
 .newOffersMarket{
    width: 95%;
    max-width: 1440px;
    margin: auto;
 }
 .oneCategoryBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
 }
 .categoryBtns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 60px;
    background: #797979;
    margin-top: 52px;
 }
 .oneCategoryBtn span{
    font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 21.94px;
text-align: center;
color: white;
 }


.mySwiper2 .swiper-button-next , .swiper-button-prev {
    width: 52px !important;
    height: 52px !important;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.mySwiper2 .swiper-button-next:after, .mySwiper2 .swiper-button-prev :after{
    font-size: 16px !important;
    color: white !important;
    width: 52px !important;
    height: 52px !important;  
    border-radius: 8px;
    background-color: #F8B806;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mySwiper2 .swiper-button-next{
    position: absolute !important;
    right: -61px !important;
    top: 53%;
}
.mySwiper2 .swiper-button-prev {
    left: -66px !important;
    top: 48% !important;
}
.bodyDescribe_Home{
    color: white;
    padding-top: 20px;
}
.mySwiper2 {
    width: 93%;
    height: 100%;
  overflow: visible !important;
  margin-top: 28px;
      max-width: 1308px;
  }
  .romb_bigFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .oneRomb{
    display: flex;
    align-items: center;
    gap: 9px;  
}
  .oneRomb img{
    width:24px !important;
    height:24px !important;
  }
  .otherRomb{
    display: flex;
    align-items: center;
  }
  .otherRomb img{
    width: 17px !important;
  }
  .bodyDescribe_Home h4{
    font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 24.6px;
text-align: center;

  }
  .romb_bigFlex{
    width: 92%;
    margin: auto;
    margin-top: 34px;
  }
  .oneRomb span{
    font-family: Montserrat;
font-size: 18px !important;
font-weight: 400 !important;
line-height: 22.14px !important;
 
  }
  .oneRomb span sup{
    font-size: 10px;
  }
  .otherRomb span{
    font-family: Montserrat;
font-size: 18px !important;
font-weight: 400 !important;
line-height: 22.14px !important;
text-align: left;

  }
  .otherRomb{
    width: 89%;
    margin: auto;
    margin-top: 13px;
    gap: 11px;
    margin-bottom: 34px;
  }
.bodyDescribe_Home span{

    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.52px;
 
}
.bodyDescribe_Home{
    background: #3F3D42;

}
.bodyDescribe_Home p{
    font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 22.14px;
text-align: center;

}
.bodyDescribe_Home p{
    position: relative;
    top: 10px;
}









/* rielter */
.rielter{
    background: #3F3D42;
    
}
.rielter_header{
    max-width: 1440px;
    margin: auto;
    width: 100%;
}

.rielter_title {
    width: 85%;
}
.rielter_title h1{
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
   color: white;

}
.rielter_title h1 span{
    color: #F8B806;
}
.rielter_cards{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.rielter_card{
    width:710px;
    
    padding: 30px 0px 0px 0px; 
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.357);
    margin-bottom: 20px;
}
.rielter_card h2{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    line-height: 36px;
    font-weight: 700;
    color: #F8B806;
    width: 54%;
 
}


.rielter_p p{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 16px;
    letter-spacing: 0.  1px;
    line-height: 30px;
}
.rielter_text{
    padding-top: 7px;
}

.rielter_finis{
 
    margin-top: 28px;

}

.rielter_finis p{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 30px;
    color: white;
    margin-bottom: 24px;
    letter-spacing: 0.01px;
}
.rielter_p2 p{
      font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 19px;
    letter-spacing: 0.001px;
    line-height: 30px;
}
.rielter_inside
{
    width: 94%;
    margin: auto;
    /* margin-left: 27px; */
    padding: 27px;

}
.rielter_insider{
    width: 94%;
    margin: auto;
    margin-left: 30px;
    
}
.rielter_text4{
    padding-top: 1.5px;
}
@media(max-width:725px){
    .rielter_title{
        /* margin-left: 20px; */
        width: 95%;
        margin: auto;
    }
    .rielter_title h1{
        width: 312px;
        font-size: 27px;
        line-height: 40.5px;
    }
    .rielter_card{
        width: 90%;
    }
    
    .rielter_card h2{
        color: white;
        line-height: 30px;
        width: 280px;
        font-family: 20px;
        margin-top: -10px;
        font-size: 20px;
    }
    .rielter_cards{
        margin-top: 30px;
        gap: 1px;
     
    }
    .rielter_inside{
        /* margin-left: 20px; */
        padding: 20px;
    }.rielter_p{
        margin-top: -10px;
        width: 280px;
    }
    .rielter_p p{
        font-size: 16px;
        line-height: 24px;
        margin-top: 13px;
        width: 98%;
    }
     .rielter_finis p{
        font-size: 16px ;
        line-height: 24px;
        width: 98%;
     }
     .rielter_finis{
        margin-top: 15px;
     }
     .rielter_insider{
        margin-left: 20px;
     }
     .rielter_p2{
        margin-top: -10px;
        width: 93%;
     }
     .rielter_p2 p{
        font-size: 16px;
        line-height: 24px;
     }
   
}





 

 
    .bodyDescribe_Home button{
        width: 92% ;
        margin: auto;
        height: 60px;
        border: 1px solid #979797;
         margin-top: 25px;
    background: #00000078;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: center;
    color: #F8B806;    
    border-radius: 10px;
    }