@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.text__p1 {
    font-family: Cuprum;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.68px;
    text-align: left;
    color: white;
}











/* navbar */

.navbar {
    position: absolute;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid white;
}

.navbar__body {
    max-width: 1440px;
    margin: auto;
    width: 95%;
    display: grid;
    align-items: center;
    padding-top: 3px;
    height: 125px;
    grid-template-columns: 327px auto 283px 100px;

}

.navbar__logo {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-top: 24px;
}

.navbar__logo_img {

    padding-right: 18px;
}

.navbar__logo_p {
    width: 50%;
}

.navbar_nav {
    display: flex;
    gap: 11px;
    list-style: none;
    justify-content: space-between;
    max-width: 660px;
}

.navbar__logo__item {
    display: flex;
}

.navbar_nav__item {
    letter-spacing: 0.4px;
    padding: 6px;
    /* width: 125px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__line__vertical {
    width: 1px;
    background-color: white;
    height: 40px;
}

.navbar__contact {
    display: flex;
    align-items: center;
    gap: 7px;
}

.navbar_button {
    background: #F8B806;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.68px;
    text-align: left;
    color: #242424;
    border: none;
    padding: 17px 8px;
    margin-left: 10px;
    border-radius: 10px;
}

.navbar_nav__phone {
    font-size: 20px;
}

.navbar_nav__img {
    display: none;
}

.navbar__toolbar {
    width: 100%;
    position: absolute;
    top: 0px;
    display: none;
    background-color: #242424;
    transition: 1s;
    padding-bottom: 20px;
}

.navbar__close {
    position: absolute;
    top: 23px;
    right: 30px;
    z-index: 12;
    position: absolute;
    right: 24px;
    z-index: 5;
    display: block;
    font-size: 40px;
    font-weight: 100 !important;
    color: white;
    cursor: pointer;
}

.navbar__toolbar .navbar__logo {
    max-width: 97px;
    margin-top: 23px;
    margin-left: 10px;
}

.navbar__toolbar .navbar_nav {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.navbar__toolbar .navbar_nav .navbar_nav__item {
    display: block;
}

.navbar__toolbar .navbar__contact {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar__toolbar .navbar__line__vertical {
    display: block;
}

.navbar__toolbar .navbar__yandex__image {
    display: block;
}

.navbar__toolbar .navbar_button {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:1382px) {
    .navbar__body {
        display: grid;
        align-items: center;
        grid-template-columns: 327px auto 283px;
    }

    .navbar__yandex__image {
        display: none;
    }
}

@media(max-width:1276px) {
    .navbar__body {
        display: grid;
        grid-template-columns: 327px auto;
    }

    .navbar__contact {
        display: none;
    }
}

@media(max-width:991px) {
    .navbar {
        border-bottom: 0px;
    }

    .navbar__logo {
        display: block;
    }

    .navbar__body {
        display: grid;
        grid-template-columns: 97px auto;
        gap: 30px;
    }

    .navbar__line__vertical {
        display: none;
    }

    .navbar__logo_p {
        width: 100%;
    }

    .navbar__logo_img {
        width: 100%;
    }

    .navbar__logo_p {
        font-size: 10px;
        line-height: 13px;
    }
}

@media(min-width:800px) {
    .navbar__toolbar {
        display: none !important;

    }
}

@media(max-width:800px) {
    .navbar__body {

        height: 103px;

    }

    .navbar__logo {

        margin-top: 0px;
    }

    .navbar_nav {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .navbar_nav__item {
        display: none;
    }

    .navbar_nav__phone {
        display: block;
        text-align: right;
        font-size: 16px;
    }

    .navbar_nav__img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #24242461;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}









/* header */
header.header {
    height: 1024px;
    background: url("/img/Rectangle\ 1864.svg");
    background-size: cover;
    background-position: center;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.header__body {
    max-width: 1428px;
    width: 95%;
    margin: auto;

    padding-top: 51px;


}

.header__body__h1 {
    font-family: Montserrat;
    font-size: 72px;
    font-weight: 700;
    line-height: 88.56px;
    text-align: left;
    color: white;
    max-width: 755px;
    margin-bottom: 17px;
    text-transform: uppercase;
    padding-left: 2px;
}

.header__li {
    display: grid;
    grid-template-columns: 30px auto;
    margin-bottom: 21px;
    max-width: 441px;
    gap: 17px;
    align-items: center;
}

.header__body__p {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    line-height: 34.44px;
    text-align: left;
    color: white;
    margin-bottom: 36px;
}

.header__ul {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: white;
    padding-left: 8px;
    margin-bottom: 38px;
}

.header__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 833px;
    gap: 25px;
}

.header__buttons__first {
    background: #00000078;
    border: 1px solid #979797;
    height: 72px;
    color: #F8B806;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.82px;
    text-align: center;
    border-radius: 10px;

}

.header_check {
    width: 30px;
    height: 30px;
    background: #F8A606;

    border-radius: 50%;
    box-shadow: 0px 0px 3px #F8A606;


    display: flex;
    justify-content: center;
    align-items: center;

}

.header__buttons__second {
    background: #F8B806;
    border: 1px solid #F8B806;
    font-family: Inter;
    font-size: 22px;
    height: 72px;
    font-weight: 700;
    line-height: 26.63px;
    text-align: center;
    color: #1E1E1E;
    border-radius: 10px;

}

@media(max-width:816px) {
    header.header {
        height: auto;
        height: 729px;
    }

    .header__body__h1 {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        line-height: 39.36px;
        text-align: left;

    }
    .header__body__p{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.68px;
        text-align: left;
         
    }
    .header__li{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        
    }
    .header__buttons {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 833px;
        gap: 25px;
    }
    .header__buttons__first{
        font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
text-align: center;
height: 58px;
    }
    .header__buttons__second{
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
        text-align: center;
         height: 58px;
    }
}












/* chosen */
.chosen{
    background: #3F3D42;
min-height:481px ;
padding-bottom: 20px;
}
.chosen__p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: #F8A606;
    padding-top: 35px;
    padding-bottom: 16px;

}
.chosen__h1{
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 60.95px;
    letter-spacing: -2px;
    text-align: center;
color: white;    
margin-bottom: 50px;
}
.chosen_cards{
    max-width: 1365px;
    margin: auto;
    gap: 60px;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.chosen__card__img{
    background: #F8A60633;
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.chosen__card__img img{
width: 60px;
}
.chosen__card__img__second{
    position: absolute;
top: 20px;
left: 20px;
    width: 60px;
    height: 60px;
}
.chosen__card__h6{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    color: white;
    margin-top: 24px;
    margin-bottom: 9px;}
.chosen__card__p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    color: #C5C5C5;

}
@media(max-width:932px){
    .chosen_cards{
        max-width: 1365px;
        margin: auto;
        gap: 30px;
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:428px){
    .chosen_cards{
        max-width: 1365px;
        margin: auto;
        gap: 30px;
        width: 95%;
        display: grid;
        grid-template-columns: 1fr;
  
    }
    .chosen__p{
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
        
    }
    .chosen__h1{
        font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 34.13px;
text-align: center;

    }
    .chosen__card__p{
        text-align: center;
    }
    .chosen__card__h6{
        text-align: center;
    }
    .chosen__card__img{
        margin: auto;
    }
}










/* zakaz */
.zakaz{
    background: #242424;

}
.zakaz__body{
 max-width: 1440px;
margin: auto;
width: 95%;   
}
.zakaz_title{
    font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 60.95px;
text-align: left;
color: white;

padding-top: 60px;
text-transform: uppercase;
}
.zakaz_title span{
  color: #F8A606;
}

.zakaz_sectiontitle{
    display: flex;
    align-items: center;
    gap: 28px;
}
.zakaz_homeType{
    background: #3F3D42;
padding: 34px;
border-radius: 10px;
margin-top: 33px;
position: relative;
overflow: hidden;

}
.zakaz__shag{ font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
  color: white;
}
.zakaz__shag span{
     font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    
color: #F8A606;    
}
.zakaz__h4{
    font-family: Montserrat;
font-size: 24px;
font-weight: 400;
line-height: 35px;
text-align: left;
color: white;
}
.zakaz_homeType__button{
    background: #333335;
width: 100%;
height: 76px;
font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 21.94px;
text-align: center;
color: #CCCCCC;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.zakaz_homeType__buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1108px;
    gap: 32px;
    position: relative;
    z-index: 12;
    margin-top: 30px;
}
.zakaz_homeType__imgAbs{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 300px;
background: url('/img/Abstract Design.svg');
/* background-size: cover; */
box-shadow:inset 137px -61px 61px #3F3D42;
opacity: 0.3;
}
.zakaz__select{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 16px 24px;
    background: #333335;
    border-radius: 10px;
    z-index: 12;
    position: relative;
    margin-top: 29px;
    height: 40px;
cursor: pointer;
}
.zakaz__select__h5{
    color: #CCCCCC;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;
}
.zakaz__select__h5 sup{
    margin-left: -8px;
}
.zakaz__buttons{
    margin: auto;
    background: #FFFFFF66;
    border: 2px solid #F4F4F4;
border-radius: 22px;
   padding: 16px;
    margin-top: -24px;
    position: relative;
    z-index: 12;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 696px;
    gap: 25px;
    margin-bottom: 92px;
}
.zakaz__buttons__first{
    background: #00000078;
    color: #F8B806;
    font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 21.94px;
text-align: center;
height: 60px;
border-radius: 10px;
border: 1px solid #979797;
height: 57px;
}
.zakaz__buttons__second{
    background: #F8B806;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #F8B806;
}
.zakaz__buy{
    font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 35px;
text-align: left;
color: white;
}
.zakaz__buttons__dr{
   margin-top: 0px; 
}
.zakaz_title__margin{
    margin-top: -60px;
}
.zakaz__buttons__media{
    display: none;
}
.zakaz_homeType__dr{
    padding-bottom: 93px;
}
.our__team{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 24px;
    margin-top: 31px;
    padding-bottom: 95px;
}
.out__team__logos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}
.out__team__logos__item{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3f3d42b6;
height: 120px;
border-radius: 10px;

}
.our__team__text__item__p{
    font-family: Montserrat;
font-size: 32px;
font-weight: 500;
line-height: 48px;
text-align: left;
color: white;
}
.our__team__text__item{
    display: grid;
    grid-template-columns: 50px auto;
    gap: 14px;
    margin-bottom: 38px;
}
.our__team__text__item__line{
    height: 5px;
    width: 100%;
    background-color: #F8A606;
    margin-top: 25px;
}
@media (max-width:1250px){
    .our__team {
        display: grid;
        grid-template-columns: 1.3fr 529px;
        gap: 24px;
        margin-top: 31px;
        padding-bottom: 95px;
    }
}
@media(max-width:1042px){
  .our__team__text__item__p{
    font-size: 16px;
    line-height: 24px;
  }  
  .our__team__text__item__line {
    height: 5px;
    width: 100%;
    background-color: #F8A606;
    margin-top: 9px;
}
.our__team__text__item {
    display: grid;
    grid-template-columns: 40px auto;
    gap: 14px;
    margin-bottom: 38px;
}
}
@media(max-width:888px){
    .zakaz_homeType__buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .zakaz_title{
        font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 34.13px;
text-align: left;

    }
    .zakaz__buttons,.zakaz_homeType__dn{
        display: none;
    }
     .zakaz_sectiontitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .zakaz__buttons__media{
  
    margin: 0px;
    background: #1e1e1e00;
    border: none;
    display: grid;
grid-template-columns: 1fr;
padding: 0px;
margin-top: 14px;
   }
   .zakaz__buttons__second{
    height: 57px;
   }
   .zakaz_homeType__dr{
    padding-bottom:20px;
}
.our__team {
    display: grid;
    grid-template-columns: 1.3fr;
    gap: 24px;
    margin-top: 31px;
    padding-bottom: 95px;
}
}
.out__team__logos__item img{
    max-width: 70%;
    max-height: 70%;
}
@media(max-width:530px){
    .out__team__logos__itemDom{
        grid-column: 1 / -1;
    }
    .out__team__logos__item {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #3f3d42b6;
        height: 60px;
        border-radius: 10px;
    }  
    .out__team__logos__itemYoutobe{
        display: none;
    }
    .out__team__logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .our__team {
        display: grid;
        grid-template-columns: 1.3fr;
        gap: 24px;
        margin-top: 31px;
        padding-bottom: 39px;
    }
}
@media(max-width:450px){
    .zakaz_homeType__buttons{
        display: grid;
        grid-template-columns: 1fr;
    } 
    .our__team{
width: 95%;
margin: auto;
    }
    .zakaz__body{
        width: 100%;
    } 
    .zakaz_title{
        width: 95%;
        margin: auto;
    }
    .zakaz_homeType__imgAbs{
display: none;
    }
    .zakaz_homeType{
border-radius: 0px;
padding: 24px;
    }
    .zakaz__h4{
font-size: 20px;
    }
   .zakaz_homeType__button{
    font-size: 16px;
   }
   .zakaz__select__h5{
    font-size: 16px;
    min-width: 35px;
   }
   .zakaz__select__h5__media{
    display: none;
   }
   
}









/* kamanda */
.komanda {
    background-color: #3F3D42;
    position: relative;
}
.komanda__absimg{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 70%;
    width: 600px;
    background: url('/img/Abstract Design.svg');
    box-shadow: inset 137px -61px 61px #3F3D42;
    background-size: cover;
    opacity: 0.3;
}
.komanda_cards{
    position: relative;
    z-index: 12;
}
.komanda_cards__first{
    display: grid;
   grid-template-columns:1fr 1fr;
    max-width: 1440px;
    width: 95%;
    margin: auto;
    gap: 10px;
}
.komanda_cards__second{
    display: grid;
   grid-template-columns:1fr 1fr 1fr;
    max-width: 1440px;
    width: 95%;
    margin: auto;
    gap: 10px;


}
.komanda_card_img{
 max-width: 100%; 
    margin-bottom: 9px;
    height: 323px;
    /* object-fit: contain; */
}
.komanda_card_img_second{
    width: 100%;
    height: 256px;
    margin-bottom: 10px;

}
.komanda__title{
    font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 50px;
text-align: left;
color: white;
max-width: 1440px;width: 95%;
margin: auto;
padding-top: 57px;
}
.komanda__title span{
color: #F8A606;
}
.komanda__p{
    max-width: 1440px;
    width: 95%;
    margin: auto;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: white;
    padding-top: 19px;
    padding-bottom: 47px;

}
.komanda_card_p{
    font-family: Montserrat;
font-size: 24px;
font-weight: 400;
line-height: 36px;
text-align: left;
color: white;
}
.free__etap__button__img{
    width: 300px;
    height: 380px;
    background: url('/img/card__back.jpeg');
    background-size: cover;
    background-position: center;
}
@media(max-width:1300px){
    .komanda_cards__second {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1440px;
        width: 95%;
        margin: auto;
        gap: 10px;
    }
}
@media (max-width:1020px){
    .komanda_card_img {
        max-width: 100%;
        margin-bottom: 9px;
        height: 262px;
        /* object-fit: contain; */
    }
    
}

@media(max-width:700px){
    .komanda_cards__first{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1440px;
        width: 95%;
        margin: auto;
        gap: 10px; 
    }
    .komanda__title{
        font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 34.13px;
text-align: left;

    }
    .komanda_card_p{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        
    }
    .komanda__p{
        font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;

    }
    .komanda_cards__second {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1440px;
        width: 95%;
        margin: auto;
        gap: 10px;
    }
    .komanda_card_img {
        max-width: 100%;
        margin-bottom: 9px;
        height: auto;
        /* object-fit: contain; */
    }
    .komanda_card_img_second{
        height: auto;
    }
 
}





/* free_etap */
.free_etap{
    background: #3F3D42;
    padding-top: 118px;
    position: relative;
    z-index: 1;
}
.universal__title{
    font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 75px;
text-align: left;
color: white;
max-width: 1440px;
width: 95%;
margin: auto;
text-transform: uppercase;
}
.universal__title span{
    color: #F8A606;
}
.free__etap__body{
    width: 95%;
    max-width: 1449px;
    margin: auto;
    display: grid;
    grid-template-columns: auto 307px;
    align-items: end;
    padding-bottom: 30px;
}
.free_etap__p{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: white;
    max-width: 1440px;
    width: 95%;
    margin: auto;
    padding-top: 33px;
}
.free__etap__button{
    width: 300px;
    height: 63px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 800;
    line-height: 24.2px;
    text-align: center;
    border-radius: 10px;
    border: none;
    margin-top: 35px;
    background-color: #F8A606; position: relative;
}
.free__etap__buttons {
    padding-bottom: 26%;
}
.free__etap__buttons__arrow{
    position: absolute;
    bottom: 0px;
    left: -100px;
    bottom: -41px;
}
.free__etap__cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 108px;
}
.free__etap__card{
    display: grid;
    grid-template-columns: 128px auto;
    align-items: start;
    margin-bottom: 79px;
    gap: 10px;

}
.freeEtap_shugNumber{
    color: #F8B806;
    font-family: Montserrat;
    font-size: 100px;
    font-weight: 700;
    margin-top: -28px;
    letter-spacing: -2px;
}
.freeEtap__text{
    max-width: 351px;
}
.freeEtap__text__h4{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: white;
    margin-bottom: 16px;
}
.freeEtap__text__p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
color: white;    
}
.free__etap__button__img{
    width: 300px;
height: 380px;
gap: 0px;
border-radius: 7px ;


}
@media(max-width:1050px){
    .free__etap__body {
        width: 95%;
        max-width: 1449px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        align-items: end;
        padding-bottom: 30px;
    }
    .free__etap__buttons{
        margin: auto;
    }
}
@media(max-width:650px){
    .free__etap__cards {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 108px;
    }
    .free__etap__buttons__arrow{
        display: none;
    }
    .free__etap__card__2{
        grid-row: 2;
    }
    .universal__title{
        font-family: Montserrat;
        font-size: 28px;
        font-weight: 700;
        line-height: 34.13px;
        text-align: left;
        
    }
    .free_etap__p{
        font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

    }
}
@media(max-width:550px){
    .free__etap__card {
        display: grid;
        grid-template-columns: auto;
        align-items: start;
        margin-bottom: 79px;
        gap: 10px;
    }
    .freeEtap__text{
        max-width: 100%;
    }
    .freeEtap_shugNumber{
        color: #3F3D42;
        text-shadow: 0px 0px  3px white;
        
    }
    .freeEtap__text__h4{
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        
    }
    .freeEtap__text__p{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        
    }
}





body{
    background: #242424;
    overflow-x: hidden;
}

/* agent  */
.agent{
    background: #242424;

min-height: 921px;
position: relative;
overflow-y: hidden;
}
.agent__body{
  max-width: 1440px;
width: 95%;
margin: auto;  
}
.agent__title__h1{
    width: 80%;
    font-family: Montserrat;
font-size: 50px;
font-weight: 700;
line-height: 75px;
text-align: left;
color: white;
text-transform: uppercase;
padding-top: 76px;
}
.agent__title__h1 span{
    color: #F8B806;
}
.agent__card__p{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: white;
max-width: 400px;
}
.agent__img{
    margin-bottom: 10px;
}
.agent__cards{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 10px;
    margin-top: 117px;
}
.agent__card__second{
    margin-top: -61px;
}
.agent__card__three{
    margin-top: -222px;
}
.agent__card__circle{
    width: 28.7px;
    height: 28.7px;
    background: #F8B806;
border: 5px solid white;
border-radius: 50px;
}
.agent__card .agent__card__circle{
    margin-top: 54px;}
.agent__card__second .agent__card__circle{
    margin-top: 89px;
}
.agent__card__three .agent__card__circle{
    margin-top: 81px;
}
@media(max-width:650px){
    .agent__title__h1{
        font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 42px;
text-align: left;
width: 100%;
    }  
}
.agent__border__text{
    max-width: 446px;
    border-left: 5px solid #F8B806;
    margin: auto;
    margin-right: 0px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: white;
    padding-left: 16px;
    margin-top: -38px;
    padding-top: 11px;
    padding-bottom: 9px;
}
.agent__img__decor{
    position: absolute;
    bottom: 21%;
    width: 132%;
    left: -15.5%;
}
.agent__img__decor__second{
    position: absolute;
    top: -100px;
    left: -20%;
}
.agent__img__decor__three{
    position: absolute;
    bottom: 20%;
    right: 34%;
}
.agent__img__decor__four{
    position: absolute;
    bottom: 10%;
    width: 100%;
}
@media(max-width:1350px){
    .agent__img__decor {
        position: absolute;
        bottom: 14%;
        width: 132%;
        left: -15.5%;
    }
}
@media(max-width:1052px){
    .agent__img__decor {
        position: absolute;
        bottom: 4%;
        width: 132%;
        left: -15.5%;
    }
}
@media(max-width:991px){
    .agent__img__decor {
      display: none;
    }
    .agent__card__circle{
        display: none;
    }
    .agent__card{
        padding: 0pc;
        margin: 0px;
    }
    .agent__border__text{
        margin-top: 10px;
    }
}
@media(max-width:885px){
    .agent__cards {
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 10px;
        margin-top: 117px;
    }
}

@media(max-width:605px){
    .agent__cards {
        display: grid;
        grid-template-columns:  2fr;
        gap: 10px;
        margin-top: 117px;
    }
    .agent__border__text{
        margin-right: auto;
        margin-left: 0px;
    }
}











/* yuridik */
.yuridik{
    background: #3F3D42;
    padding-top: 53px;
    padding-bottom: 59px;
}
.yuridik .universal__title{
    letter-spacing: -0.8px;
   
}
.yuridik .free_etap__p{
    padding-top: 15px;
}
.yuridik__cards{
    max-width: 1440px;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    gap: 15px;
    border-radius: 10px;
    margin-top: 47px;
}
.yuridik__card{
    background: #2A2A2A;
    padding: 18px;
border-radius: 10px;
}
.yuridik__card__h5{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    
    color: #F8B806;

}
.yuridik__card__h6{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #F8B806;
    margin-top: 5px;
    margin-bottom: 10px;
}
.yuridik__card__p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
color: white;    
}
.yuridik__card{
    padding-bottom: 17px;
}
.yuridik__card__1{
    padding-bottom: 104px;
}
.yuridik__card__5{
    margin-bottom: 27px;
}
@media(max-width:1048px){
    .yuridik__card__1{
        padding-bottom: 17px;
    }
}
@media(max-width:991px){
    .yuridik__cards{
        max-width: 1440px;
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
        gap: 15px;
        border-radius: 10px;
        margin-top: 47px;
    }
    .yuridik__card__5{
        margin-bottom: 0px;
    }
}
@media(max-width:550px){
    .yuridik__cards{
        max-width: 1440px;
        width: 95%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr ;
        align-items: stretch;
        gap: 15px;
        border-radius: 10px;
        margin-top: 47px;
    } 
    .yuridik__card__h5{
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
         
    }
    .yuridik__card__h6{
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
color: white;        
    }
    .yuridik__card__p{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        
    }
}
















/* posmotry */


.posmotry{
    background-color: #1E1E1E;
    padding-top: 106px;
    position: relative;
    overflow: hidden;
}
.posmotry__decore_img{
    position: absolute;
    right: -24px;
    top: -158px;
}
.posmotry__body{
    width: 95%;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    margin-top: 53px;
    gap: 14px;
}
.posmotry__img img{
    width: 100%;
    margin-bottom: 8px;
    border-radius: 10px;
}
.posmotry__text__button{
    font-family: Montserrat;
font-size: 20px;
font-weight: 700;
line-height: 24.6px;
text-align: left;
background: #F8B806;
padding: 3px 10px;
border: none;
border-radius: 5px;
margin-bottom: 16px;
}
.posmotry__text__p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: white;
    margin-bottom: 25px;
}
.posmotry__actoin{
    display: flex;
    justify-content: space-between;
}
.posmotry__actoin__button{
    background: #F8B806;
    border-radius: 10px;
    border: none;
    width: 226px;
    height: 60px;
    /* padding: 8px 24px; */
    margin-top: 5px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: center;
    color: #1E1E1E;
}
.posmotry__arrow{
    display: flex;
    gap: 16px;

}
.posmotry__actoin__click{
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 30px;
}
.posmotry__arrow__button{
    width: 52px;
    height: 52px;
    background: #F8B806;
color: white;
border: none;
border-radius: 10px;
font-size: 40px;
display: flex;
align-items: center;
justify-content: center;
}
.posmotry__arrow__number{
 display: flex; 
    width: 142px;align-items: center;
    justify-content: space-between;
 
}
.posmotry__arrow__number h2{
      font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;
color: white; 
}
.posmotry__arrow__line{
    height: 5px;
    width: 50px;
    background: #F9B807;

}
.posmotry .universal__title{
    position: relative;
    z-index: 1;
}
.posmotry__actoin__click__first{
    display: none;
}
@media(max-width:991px){
    .posmotry__body{
        width: 95%;
        max-width: 1440px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr ;
        margin-top: 53px;
        gap: 14px;
    }
}

@media(max-width:700px){
    .posmotry__actoin__click__second{
        display: none;
    }
    .posmotry__actoin__click__first{
        display: flex;
        align-items: center;justify-content: space-between;
        width: 100%;
        position: relative;
        z-index: 12;
    }
    .posmotry__decore_img{
        display: none;
    }
    .posmotry__actoin__button{
width: 100%;
    }
    .posmotry__img__media{
        display: none;
    }
}












/* kvartira */

.kvartira{
    background-color: #242424;
}
.kvartira_chags{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 1440px;
    margin: auto;
    width: 95%;
    margin-top: 48px;
    gap: 10px;
}
.kvartira_shag{
    max-width: 200px;
}
.kvartira_shag_img{
    width: 93%;
}
.kvartira_shag__circle_1{
margin-top: 29px;
}
.kvartira_shag__p{
    font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 30px;
width: 324px;
text-align: left;
color: white;
}
.kvartira_shag_img_1{
    position: relative;
    top: -79px;
    left: 51px;
} 
.kvartira_shag_img_2{
    position: relative;
    left: 51px;
    top: 15px;
}
.kvartira_shag__p__1{
    width: 220px;
}
.kvartira_shag__circle_2{
    margin-top: -64px;
    margin-bottom: 29px;
}
.kvartira_shag__p__3{
    width: 299px;
}
.kvartira_shag__p__4{
    width: 230px;
    letter-spacing: -1px;
    line-height: 27px;
}
.kvartira_shag__circle{
    width: 36.79px;
    height: 36.79px;
    border-radius: 50%;
    border: 7px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8A606;
    color: #242424;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -3px;
}
@media (max-width:1350px) and (min-width: 991px){
    .kvartira_shag__p{
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        width: 100%;
        text-align: left;
        color: white;
    }
    
}
@media (max-width: 1110px) and (min-width: 991px) {
    .kvartira_shag__p {
        font-family: Montserrat;
        font-size: 9px;
        font-weight: 400;
        line-height: 18px;
        width: 100%;
        text-align: left;
        color: white;
    }
}
@media(max-width:991px){
    .kvartira{
        display: none;
    }
}