*{
    margin: 0;
    padding: 0;
}
.rielter{
    background: #3F3D42;
    
}
.rielter_header{
    max-width: 1440px;
    margin: auto;
    width: 100%;
}

.rielter_title {
    width: 85%;
}
.rielter_title h1{
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
   color: white;

}
.rielter_title h1 span{
    color: #F8B806;
}
.rielter_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.rielter_card{
    width:710px;
    
    padding: 30px 0px 0px 0px; 
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.357);
    margin-bottom: 20px;
}
.rielter_card h2{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    line-height: 36px;
    font-weight: 700;
    color: #F8B806;
    width: 54%;
 
}


.rielter_p p{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 16px;
    letter-spacing: 0.  1px;
    line-height: 30px;
}
.rielter_text{
    padding-top: 7px;
}

.rielter_finis{
 
    margin-top: 28px;

}

.rielter_finis p{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 30px;
    color: white;
    margin-bottom: 24px;
    letter-spacing: 0.01px;
}
.rielter_p2 p{
      font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 19px;
    letter-spacing: 0.001px;
    line-height: 30px;
}
.rielter_inside
{
    width: 94%;
    margin: auto;
    margin-left: 27px;

}
.rielter_insider{
    width: 94%;
    margin: auto;
    margin-left: 30px;
    
}
.rielter_text4{
    padding-top: 1.5px;
}
@media(max-width:725px){
    .rielter_title{
        margin-left: 20px;
    }
    .rielter_title h1{
        width: 312px;
        font-size: 27px;
        line-height: 40.5px;
    }
    .rielter_card{
        width: 90%;
    }
    
    .rielter_card h2{
        color: white;
        line-height: 30px;
        width: 280px;
        font-family: 20px;
        margin-top: -10px;
        font-size: 20px;
    }
    .rielter_cards{
        margin-top: 30px;
        gap: 1px;
     
    }
    .rielter_inside{
        margin-left: 20px;
    }.rielter_p{
        margin-top: -10px;
        width: 280px;
    }
    .rielter_p p{
        font-size: 16px;
        line-height: 24px;
         margin-top: 13px;
    }
     .rielter_finis p{
        font-size: 16px ;
        line-height: 24px;
     }
     .rielter_finis{
        margin-top: 15px;
     }
     .rielter_insider{
        margin-left: 20px;
     }
     .rielter_p2{
        margin-top: -10px;
        width: 280px;
     }
     .rielter_p2 p{
        font-size: 16px;
        line-height: 24px;
     }
   
}